/Debug/
../.metadata/
../RemoteSystemsTempFiles/
/Release/
/Release Opencv2/
../.DS_Store
*.DS_Store
/Debug OpenCV2/
/Debug Linux/
/DebugLinux/
/ReleaseLinux/
/ReleaseDLR/
/cmake-build-debug/
/cmake-build-release/
/fakeData/
/fGprof/
