cmake-build-debugMac/
cmake-build-releaseMac/
washingtonMax/
/Debug/
../.metadata/
../RemoteSystemsTempFiles/
/Release/
/Release Opencv2/
../.DS_Store
*.DS_Store
/Debug OpenCV2/
/Debug Linux/
/DebugLinux/
/ReleaseLinux/
/ReleaseDLR/
/cmake-build-debug/
/cmake-build-release/
/fakeData/
/fGprof/
fakeDataBinary/
fakeDataCircleForThesis/
mnist/
mnistOrg/
simon/
uspsOrg/
washington/
/../cloc-1.70.pl
